In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score

In [25]:
df = pd.read_csv('ground water quality.csv')
df

,Well ID,S.No,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,Year,pH,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
0,W113126092431802,1,A&N Islands,South Andaman,PORT BLAIR,Kodiaghat,11.54500,92.74583,2021,7.74,...,NaN,175.0,34.00,22.00,10.00,0.00,0.84,NaN,206.00,4.8
1,W113616092411001,2,A&N Islands,South Andaman,PORT BLAIR,Sippighat,11.60250,92.73000,2021,7.53,...,NaN,250.0,52.00,29.00,51.00,1.00,0.28,NaN,381.00,6.4
2,W113640092443301,3,A&N Islands,South Andaman,PORT BLAIR,Brichganj,11.62083,92.73028,2021,7.50,...,NaN,125.0,4.00,28.00,10.00,1.00,0.46,NaN,151.00,BDL
3,W114421092422801,4,A&N Islands,South Andaman,FERRARGUNJ,Wimberleyganj,11.73250,92.70861,2021,7.60,...,NaN,135.0,26.00,17.00,15.00,2.00,0.37,NaN,198.00,0.4
4,W113955092391801,5,A&N Islands,South Andaman,FERRARGUNJ,Ograbraj,11.66361,92.65806,2021,7.82,...,NaN,465.0,56.00,79.00,336.00,18.00,0.95,NaN,1424.00,BDL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5370,W220500091040001,5371,Tripura,South Tripura,Satchand,Bijaynagar,22.9833333,93.8225,2021,7.63,...,NaN,60.0,10.01,8.49,23.00,3.83,0.21,NaN,154.80,NaN
5371,W235602091511501,5372,Tripura,Dhalai,Ambassa,Lalchari,23.9341639,91.85444444,2021,7.58,...,NaN,40.0,8.01,4.85,6.79,3.55,0.27,NaN,44.86,NaN
5372,W230605091513506,5373,Tripura,Gomti,Killa,Dewanbari,23.5577778,91.53527778,2021,7.49,...,NaN,75.0,14.01,9.70,18.15,2.45,0.36,NaN,88.11,NaN
5373,W240824092090501,5374,Tripura,Unakoti,Pecharthal,Karaicherra,24.14,92.15138889,2021,7.47,...,NaN,150.0,20.02,24.26,6.14,8.53,0.45,NaN,145.80,NaN
5374,W232915091240601,5375,Tripura,Gomti,Kankra-ban,Kankraban,23.4875,91.40194444,2021,7.47,...,NaN,45.0,8.01,6.06,19.96,4.54,0.25,NaN,80.35,NaN

In [26]:
df['U(ppb)'] = df['U(ppb)'].str.replace('BDL','NaN')
df.head()

,Well ID,S.No,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,Year,pH,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
0,W113126092431802,1,A&N Islands,South Andaman,PORT BLAIR,Kodiaghat,11.54500,92.74583,2021,7.74,...,NaN,175.0,34.0,22.0,10.0,0.0,0.84,NaN,206.0,4.8
1,W113616092411001,2,A&N Islands,South Andaman,PORT BLAIR,Sippighat,11.60250,92.73000,2021,7.53,...,NaN,250.0,52.0,29.0,51.0,1.0,0.28,NaN,381.0,6.4
2,W113640092443301,3,A&N Islands,South Andaman,PORT BLAIR,Brichganj,11.62083,92.73028,2021,7.50,...,NaN,125.0,4.0,28.0,10.0,1.0,0.46,NaN,151.0,NaN
3,W114421092422801,4,A&N Islands,South Andaman,FERRARGUNJ,Wimberleyganj,11.73250,92.70861,2021,7.60,...,NaN,135.0,26.0,17.0,15.0,2.0,0.37,NaN,198.0,0.4
4,W113955092391801,5,A&N Islands,South Andaman,FERRARGUNJ,Ograbraj,11.66361,92.65806,2021,7.82,...,NaN,465.0,56.0,79.0,336.0,18.0,0.95,NaN,1424.0,NaN

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5375 entries, 0 to 5374
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Well ID    5375 non-null   object
 1   S.No       5375 non-null   int64
 2   STATE      5375 non-null   object
 3   DISTRICT   5375 non-null   object
 4   BLOCK      5304 non-null   object
 5   LOCATION   5375 non-null   object
 6   LATITUDE   5374 non-null   object
 7   LONGITUDE  5374 non-null   object
 8   Year       5375 non-null   int64
 9   pH         5375 non-null   float64
 10  EC         5375 non-null   float64
 11  CO3        5375 non-null   float64
 12  HCO3       5375 non-null   float64
 13  Cl         5375 non-null   float64
 14  SO4        5374 non-null   float64
 15  NO3        5375 non-null   float64
 16  PO4        3554 non-null   object
 17  TH         5375 non-null   float64
 18  Ca         5375 non-null   float64
 19  Mg         5375 non-null   float64
 20  Na         5375 non-null   float64
 21  K          5374 non-null   float64
 22  F          5375 non-null   float64
 23  SiO2       2754 non-null   object
 24  TDS        3216 non-null   float64
 25  U(ppb)     1643 non-null   object
dtypes: float64(14), int64(2), object(10)
memory usage: 1.1+ MB

In [28]:
df.shape

(5375, 26)

In [29]:
df.isnull().sum()

Well ID         0
S.No            0
STATE           0
DISTRICT        0
BLOCK          71
LOCATION        0
LATITUDE        1
LONGITUDE       1
Year            0
pH              0
EC              0
CO3             0
HCO3            0
Cl              0
SO4             1
NO3             0
PO4          1821
TH              0
Ca              0
Mg              0
Na              0
K               1
F               0
SiO2         2621
TDS          2159
U(ppb)       3732
dtype: int64

In [9]:
df['PO4']  = pd.to_numeric(df['PO4'],errors='coerce')
df['U(ppb)']  = pd.to_numeric(df['U(ppb)'],errors='coerce')
df['SiO2']  = pd.to_numeric(df['SiO2'],errors='coerce')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5375 entries, 0 to 5374
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Well ID    5375 non-null   object
 1   S.No       5375 non-null   int64
 2   STATE      5375 non-null   object
 3   DISTRICT   5375 non-null   object
 4   BLOCK      5304 non-null   object
 5   LOCATION   5375 non-null   object
 6   LATITUDE   5374 non-null   object
 7   LONGITUDE  5374 non-null   object
 8   Year       5375 non-null   int64
 9   pH         5375 non-null   float64
 10  EC         5375 non-null   float64
 11  CO3        5375 non-null   float64
 12  HCO3       5375 non-null   float64
 13  Cl         5375 non-null   float64
 14  SO4        5374 non-null   float64
 15  NO3        5375 non-null   float64
 16  PO4        3554 non-null   object
 17  TH         5375 non-null   float64
 18  Ca         5375 non-null   float64
 19  Mg         5375 non-null   float64
 20  Na         5375 non-null   float64
 21  K          5374 non-null   float64
 22  F          5375 non-null   float64
 23  SiO2       2754 non-null   object
 24  TDS        3216 non-null   float64
 25  U(ppb)     1643 non-null   object
dtypes: float64(14), int64(2), object(10)
memory usage: 1.1+ MB

In [31]:
df.describe()

,S.No,Year,pH,EC,CO3,HCO3,Cl,SO4,NO3,TH,Ca,Mg,Na,K,F,TDS
count,5375.000000,5375.0,5375.000000,5375.000000,5375.000000,5375.000000,5375.000000,5374.000000,5375.000000,5375.000000,5375.000000,5375.000000,5375.000000,5374.000000,5375.000000,3216.000000
mean,2688.000000,2021.0,7.782120,1181.352056,5.037235,276.383049,177.519689,83.322672,33.995519,312.105803,62.323575,38.387403,128.014956,10.132822,0.564138,870.131197
std,1551.773179,0.0,0.480589,1620.264852,19.887804,180.683664,424.576695,213.146755,63.280825,334.058490,57.068042,56.502487,268.214689,29.649083,0.852170,1170.497989
min,1.000000,2021.0,3.060000,27.140000,0.000000,0.000000,1.800000,0.000000,0.000000,6.400000,1.800000,-23.000000,0.000000,0.000000,0.000000,15.490000
25%,1344.500000,2021.0,7.510000,447.500000,0.000000,153.000000,28.000000,11.000000,5.500000,150.000000,28.000000,13.000000,22.520000,1.700000,0.180000,360.805000
50%,2688.000000,2021.0,7.800000,757.000000,0.000000,250.000000,65.000000,25.000000,18.000000,240.000000,48.000000,24.320000,52.000000,3.100000,0.380000,551.000000
75%,4031.500000,2021.0,8.080000,1260.000000,0.000000,366.000000,151.000000,65.000000,40.565000,360.000000,78.000000,44.000000,110.000000,7.600000,0.700000,891.000000
max,5375.000000,2021.0,9.250000,26200.000000,348.000000,1915.000000,9075.000000,4430.000000,1750.000000,5454.360000,1014.000000,1136.000000,5489.000000,843.000000,22.300000,17554.000000

In [32]:
meanpo4 = df['PO4'].mean
meansio2 = df['SiO2'].mean
meantds = df['TDS'].mean
meanu = df['U(ppb)'].mean
meank = df['K'].mean
df['PO4'] = df['PO4'].fillna(meanpo4)
df['SiO2'] = df['SiO2'].fillna(meansio2)
df['TDS'] = df['TDS'].fillna(meantds)
df['U(ppb)'] = df['U(ppb)'].fillna(meanu)
df['K'] = df['K'].fillna(meank)

In [33]:
df.isnull().sum()

Well ID       0
S.No          0
STATE         0
DISTRICT      0
BLOCK        71
LOCATION      0
LATITUDE      1
LONGITUDE     1
Year          0
pH            0
EC            0
CO3           0
HCO3          0
Cl            0
SO4           1
NO3           0
PO4           0
TH            0
Ca            0
Mg            0
Na            0
K             0
F             0
SiO2          0
TDS           0
U(ppb)        0
dtype: int64

In [ ]:
naya column  banna hai
usko assign krni hai values 
eda
feature selection 
feature engineering(hypothesis testing)
split the data
model
test

In [1]:
import pandas as pd

# Sample DataFrame
data = {'column_name': ['abc 123', 'def@456', 'ghi_789']}
df = pd.DataFrame(data)

# Specify the regular expression to replace non-alphanumeric characters with a space
column = 'column_name'
df[column] = df[column].str.replace('[^a-zA-Z0-9 ]', '')

# Print the DataFrame to see the result
print(df)

  column_name
0     abc 123
1      def456
2      ghi789

C:\Users\Raj\AppData\Local\Temp\ipykernel_11116\2993527178.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace('[^a-zA-Z0-9 ]', '')

In [42]:
# Convert numeric columns to float
numeric_columns = ['pH', 'EC', 'TDS', 'NO3', 'WQI']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Weights and thresholds
weights = {
    'pH': 0.11,
    'EC': 0.1,
    'TDS': 0.07,
    'NO3': 0.1,
    # Add other parameters
}

thresholds = {
    'pH': (6.5, 8.5),  # Example thresholds for pH
    'EC': (0, 1),      # Example thresholds for EC
    'TDS': (0, 500),   # Example thresholds for TDS
    'NO3': (0, 45),    # Example thresholds for NO3
    # Add other parameters
}

# Function to calculate sub-index
def calculate_sub_index(value, min_value, max_value):
    if pd.notna(value) and pd.notna(min_value) and pd.notna(max_value):
        return ((value - min_value) / (max_value - min_value)) * 100
    return None

# Calculate sub-indices and overall WQI
for parameter in weights.keys():
    min_value, max_value = thresholds.get(parameter, (None, None))
    df[parameter + '_SubIndex'] = df[parameter].apply(calculate_sub_index, args=(min_value, max_value))
    df['WQI'] = df['WQI'].add(df[parameter + '_SubIndex'] * weights[parameter], fill_value=0)

# Classify the water quality based on WQI ranges
def classify_water_quality(wqi):
    if pd.notna(wqi):
        if 90 <= wqi <= 100:
            return 'Very good'
        elif 70 <= wqi < 90:
            return 'Good'
        elif 50 <= wqi < 70:
            return 'Medium'
        elif 25 <= wqi < 50:
            return 'Bad'
        elif 0 <= wqi < 25:
            return 'Very bad'
    return None

# Apply water quality classification
df['Water Quality'] = df['WQI'].apply(classify_water_quality)

# Print the resulting DataFrame
print(df[['Well ID', 'WQI', 'Water Quality']])

               Well ID           WQI Water Quality
0     W113126092431802  10493.566222          None
1     W113616092411001  19822.551222          None
2     W113640092443301   8118.614000          None
3     W114421092422801   9350.922000          None
4     W113955092391801  75072.827111          None
...                ...           ...           ...
5370  W220500091040001   8970.354422          None
5371  W235602091511501   2642.443596          None
5372  W230605091513506   5117.926318          None
5373  W240824092090501   8268.346200          None
5374  W232915091240601   4659.212122          None

[5302 rows x 3 columns]

In [48]:
# Convert numeric columns to float
numeric_columns = ['pH', 'EC', 'TDS', 'NO3', 'WQI']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# New weights and thresholds
weights = {
    'pH': 0.11,
    'EC': 0.1,
    'TDS': 0.07,
    'NO3': 0.1,
    # Add other parameters
}

# Adjusting thresholds to be in the range 0-100
thresholds = {
    'pH': (0, 14),    # pH range is 0-14
    'EC': (0, 1),      # Adjusted based on the specific parameter range
    'TDS': (0, 500),   # Adjusted based on the specific parameter range
    'NO3': (0, 45),    # Adjusted based on the specific parameter range
    # Add other parameters
}

# Function to calculate sub-index with the new formula
def calculate_sub_index(value, min_value, max_value):
    if pd.notna(value) and pd.notna(min_value) and pd.notna(max_value):
        sub_index = ((value - min_value) / (max_value - min_value)) * 100
        return max(0, min(100, sub_index))  # Ensure sub-index is within 0-100
    return None

# Calculate sub-indices and overall WQI with the new formula
for parameter in weights.keys():
    min_value, max_value = thresholds.get(parameter, (None, None))
    df[parameter + '_SubIndex'] = df[parameter].apply(calculate_sub_index, args=(min_value, max_value))
    df['WQI'] = df['WQI'].add(df[parameter + '_SubIndex'] * weights[parameter], fill_value=0)

# Scale the WQI to be in the range of 0-100
df['WQI'] = (df['WQI'] - df['WQI'].min()) / (df['WQI'].max() - df['WQI'].min()) * 100

# Classify the water quality based on WQI ranges
def classify_water_quality(wqi):
    if pd.notna(wqi):
        if 60 <= wqi <= 75:
            return 'Very good'
        elif 45 <= wqi < 60:
            return 'Good'
        elif 30 <= wqi < 45:
            return 'Medium'
        elif 15 <= wqi < 30:
            return 'Bad'
        elif 0 <= wqi < 15:
            return 'Very bad'
    return 'Not classified'  # Add a default classification

# Apply water quality classification
df['Water Quality'] = df['WQI'].apply(classify_water_quality)

# Print the resulting DataFrame
print(df[['Well ID', 'WQI', 'Water Quality']])

               Well ID        WQI Water Quality
0     W113126092431802   4.847474      Very bad
1     W113616092411001   7.900496      Very bad
2     W113640092443301   3.543517      Very bad
3     W114421092422801   4.329032      Very bad
4     W113955092391801  16.530195           Bad
...                ...        ...           ...
5370  W220500091040001   4.252147      Very bad
5371  W235602091511501   1.851395      Very bad
5372  W230605091513506   2.741249      Very bad
5373  W240824092090501   3.739307      Very bad
5374  W232915091240601   3.217525      Very bad

[5302 rows x 3 columns]

In [49]:
df

,Well ID,S.No,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,Year,pH,...,F,SiO2,TDS,U(ppb),WQI,pH_SubIndex,EC_SubIndex,TDS_SubIndex,NO3_SubIndex,Water Quality
0,W113126092431802,1,A&N Islands,South Andaman,PORT BLAIR,Kodiaghat,11.54500,92.74583,2021,7.74,...,0.84,<bound method NDFrame._add_numeric_operations....,206.00,4.8,4.847474,55.285714,100,41.200,2.222222,Very bad
1,W113616092411001,2,A&N Islands,South Andaman,PORT BLAIR,Sippighat,11.60250,92.73000,2021,7.53,...,0.28,<bound method NDFrame._add_numeric_operations....,381.00,6.4,7.900496,53.785714,100,76.200,2.222222,Very bad
2,W113640092443301,3,A&N Islands,South Andaman,PORT BLAIR,Brichganj,11.62083,92.73028,2021,7.50,...,0.46,<bound method NDFrame._add_numeric_operations....,151.00,NaN,3.543517,53.571429,100,30.200,0.000000,Very bad
3,W114421092422801,4,A&N Islands,South Andaman,FERRARGUNJ,Wimberleyganj,11.73250,92.70861,2021,7.60,...,0.37,<bound method NDFrame._add_numeric_operations....,198.00,0.4,4.329032,54.285714,100,39.600,0.000000,Very bad
4,W113955092391801,5,A&N Islands,South Andaman,FERRARGUNJ,Ograbraj,11.66361,92.65806,2021,7.82,...,0.95,<bound method NDFrame._add_numeric_operations....,1424.00,NaN,16.530195,55.857143,100,100.000,11.111111,Bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5370,W220500091040001,5371,Tripura,South Tripura,Satchand,Bijaynagar,22.9833333,93.8225,2021,7.63,...,0.21,<bound method NDFrame._add_numeric_operations....,154.80,<bound method NDFrame._add_numeric_operations....,4.252147,54.500000,100,30.960,5.422222,Very bad
5371,W235602091511501,5372,Tripura,Dhalai,Ambassa,Lalchari,23.9341639,91.85444444,2021,7.58,...,0.27,<bound method NDFrame._add_numeric_operations....,44.86,<bound method NDFrame._add_numeric_operations....,1.851395,54.142857,100,8.972,1.955556,Very bad
5372,W230605091513506,5373,Tripura,Gomti,Killa,Dewanbari,23.5577778,91.53527778,2021,7.49,...,0.36,<bound method NDFrame._add_numeric_operations....,88.11,<bound method NDFrame._add_numeric_operations....,2.741249,53.500000,100,17.622,3.577778,Very bad
5373,W240824092090501,5374,Tripura,Unakoti,Pecharthal,Karaicherra,24.14,92.15138889,2021,7.47,...,0.45,<bound method NDFrame._add_numeric_operations....,145.80,<bound method NDFrame._add_numeric_operations....,3.739307,53.357143,100,29.160,3.000000,Very bad
5374,W232915091240601,5375,Tripura,Gomti,Kankra-ban,Kankraban,23.4875,91.40194444,2021,7.47,...,0.25,<bound method NDFrame._add_numeric_operations....,80.35,<bound method NDFrame._add_numeric_operations....,3.217525,53.357143,100,16.070,10.822222,Very bad

In [50]:
df['Water Quality'].value_counts()

Very bad          3551
Bad               1602
Medium             110
Good                28
Very good            8
Not classified       3
Name: Water Quality, dtype: int64

In [52]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

# Assuming df is your DataFrame with the provided dataset

# Drop unnecessary columns for SVM (you can adjust this based on your specific requirements)
columns_to_drop = ['Well ID', 'S.No', 'STATE', 'DISTRICT', 'BLOCK', 'LOCATION', 'LATITUDE', 'LONGITUDE', 'Year']
df_svm = df.drop(columns=columns_to_drop)

# Check data types of each column
print(df_svm.dtypes)

# Convert non-numeric columns to numeric (you may need to handle categorical variables differently)
df_svm = df_svm.apply(pd.to_numeric, errors='coerce')

# Handle missing values (you may need to implement a more sophisticated strategy)
df_svm = df_svm.fillna(df_svm.mean())

# Separate features (X) and target variable (y)
X = df_svm.drop(columns=['Water Quality'])
y = df_svm['Water Quality']

# Encode categorical target variable if needed
le = LabelEncoder()
y = le.fit_transform(y)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize features by removing the mean and scaling to unit variance
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train the SVM model
svm_model = SVC(kernel='linear', C=1.0)
svm_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = svm_model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy:.2f}')
print('\nClassification Report:\n', classification_rep)

pH               float64
EC               float64
CO3              float64
HCO3             float64
Cl               float64
SO4              float64
NO3              float64
PO4               object
TH               float64
Ca               float64
Mg               float64
Na               float64
K                 object
F                float64
SiO2              object
TDS              float64
U(ppb)            object
WQI              float64
pH_SubIndex      float64
EC_SubIndex        int64
TDS_SubIndex     float64
NO3_SubIndex     float64
Water Quality     object
dtype: object

ValueError: The number of classes has to be greater than one; got 1 class

In [56]:
# Drop unnecessary columns for SVM (you can adjust this based on your specific requirements)
columns_to_drop = ['Well ID', 'S.No', 'STATE', 'DISTRICT', 'BLOCK', 'LOCATION', 'LATITUDE', 'LONGITUDE', 'Year']
df_svm = df.drop(columns=columns_to_drop)

# Check data types of each column
print(df_svm.dtypes)

# Convert non-numeric columns to numeric (you may need to handle categorical variables differently)
df_svm = df_svm.apply(pd.to_numeric, errors='coerce')

# Handle missing values (you may need to implement a more sophisticated strategy)
df_svm = df_svm.fillna(df_svm.mean())

# Separate features (X) and target variable (y)
X = df_svm.drop(columns=['Water Quality'])
y = df_svm['Water Quality']

# Encode binary target variable
le = LabelEncoder()
y = le.fit_transform(y)

# Check the unique classes in the target variable
print("Unique Classes in Target Variable:", df_svm['Water Quality'].unique())

# If there are only two classes, proceed with binary classification
if len(df_svm['Water Quality'].unique()) == 2:
    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Standardize features by removing the mean and scaling to unit variance
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)

    # Train the SVM model
    svm_model = SVC(kernel='linear', C=1.0)
    svm_model.fit(X_train, y_train)

    # Make predictions on the test set
    y_pred = svm_model.predict(X_test)

    # Evaluate the model
    accuracy = accuracy_score(y_test, y_pred)
    classification_rep = classification_report(y_test, y_pred)

    print(f'Accuracy: {accuracy:.2f}')
    print('\nClassification Report:\n', classification_rep)
else:
    print("The target variable must have two classes for binary classification.")

pH               float64
EC               float64
CO3              float64
HCO3             float64
Cl               float64
SO4              float64
NO3              float64
PO4               object
TH               float64
Ca               float64
Mg               float64
Na               float64
K                 object
F                float64
SiO2              object
TDS              float64
U(ppb)            object
WQI              float64
pH_SubIndex      float64
EC_SubIndex        int64
TDS_SubIndex     float64
NO3_SubIndex     float64
Water Quality     object
dtype: object
Unique Classes in Target Variable: [nan]
The target variable must have two classes for binary classification.